/* src/presentation/styles/stylesheets/components/buttons/danger_button.qss */
QPushButton {
    background-color: #c0392b;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
    min-height: 25px;
}

QPushButton:hover {
    background-color: #e74c3c;
}

QPushButton:pressed {
    background-color: #a33027;
}

QPushButton:disabled {
    background-color: #bdc3c7;
    color: #7f8c8d;
}